.bg-dark-yellow{
    background-color: #fdb834;
}

.bg-section-04{
    background-color: #f4f4f4;
}

main{
    position: relative;
    display: block;
}

section{
    position: relative;
    display: block;
}

.bg-image{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-black-50{
    color: #0005;
}
