extends include/defaults

block config
    - rootBase = ''
    - title = 'Home'
    - nav = 'Public'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/styles/'
    - jsPath  = rootBase + 'assets/scripts/'

block stylesheet
    
block javascript
    
block content
    .container
        include include/partials/_index
