footer.page-footer.font-small
    .container-fluid
        .footer-links.py-2
            ul.fe-foot-links
                li
                    a(href='#') Privacy Policy
                li
                    a(href='#') Terms Of Use
        .footer-copyright.py-2
            span Copyright &copy;2018 All Right Reserved
            
