header.fixed-top(data-scroll)
    nav.navbar.navbar-dark.navbar-expand-md.bg-faded.justify-content-center
        .navbar-brand.d-flex.w-50.mr-auto
            a.fe-logo(href='/')
                img(src= imgPath + 'logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
            span.navbar-toggler-icon
        #collapsingNavbar3.navbar-collapse.collapse.w-100
            ul.navbar-nav.w-100.justify-content-center.fe-navi
                li.nav-item
                    a.nav-link(href='#about-us') About Us
                li.nav-item
                    a.nav-link(href='#blog') Blog
                li.nav-item
                    a.nav-link(href='#') Collections
                li.nav-item
                    a.nav-link(href='#') Latest News
                li.nav-item
                    a.nav-link(href='#') Faq
            ul.nav.navbar-nav.ml-auto.w-100.justify-content-end.fe-toolbox
                li.nav-item
                    a.nav-link(href='#')
                        i.fa.fa-search
                li.nav-item
                    a.nav-link(href='#') Log In
