#carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
    .carousel-inner
        .carousel-item.active(data-bg-src=imgPath + 'banner/desktop-01.jpg')
            .fe-item-holder.text-center.text-white
                table.item-banner
                    tr
                        td
                            .item-banner-holder
                                .banner-image
                                    img(src= imgPath + 'logo.png')
                                .banner-desc
                                    span Sed posuere dolor non lacinia aliorttitor congue.
                                .banner-button
                                    a.fe-button(href='#')
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        span Explore Now
        .carousel-item(data-bg-src=imgPath + 'banner/desktop-01.jpg')
            .fe-item-holder.text-center.text-white
                table.item-banner
                    tr
                        td
                            .item-banner-holder
                                .banner-image
                                    img(src= imgPath + 'logo.png')
                                .banner-desc
                                    span Sed posuere dolor non lacinia aliorttitor congue.
                                .banner-button
                                    a.fe-button(href='#')
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        span Explore Now
        .carousel-item(data-bg-src=imgPath + 'banner/desktop-01.jpg')
            .fe-item-holder.text-center.text-white
                table.item-banner
                    tr
                        td
                            .item-banner-holder
                                .banner-image
                                    img(src= imgPath + 'logo.png')
                                .banner-desc
                                    span Sed posuere dolor non lacinia aliorttitor congue.
                                .banner-button
                                    a.fe-button(href='#')
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        .fe-deco.fa.fa-plus
                                        span Explore Now
