.heading-deco.text-center.text-light
    span Blog
.heading-title.text-center.text-light
    span Curabitur Nisl Lorem
.fe-wrapper.py-3.fe-venue
    .row
        .col-lg-4
            .fe-venue-holder
                .venue-title
                    span Date
                .venue-desc
                    span 23rd Jun - 1st July 2019
        .col-lg-4
            .fe-venue-holder
                .venue-title
                    span Venue
                .venue-desc
                    span Duis hendrerit urna dictum, Pallentesque habitant morbi tristique
            .col-lg-4
        .col-lg-4
            .fe-venue-holder
                .venue-title
                    span Time
                .venue-desc
                    span Mon - Fri: 
                    span  09.00am - 05.00pm
                .venue-desc
                    span Sat:
                    span  09.00am - 01.00pm
.fe-wrapper.text-center.py-4
    .row
        .col-lg-4.col-sm-6
            .fe-blog-holder
                .blog-date
                    span 19 July 2019
                .blog-title
                .blog-desc
                .blog-image
                .blog-link
        .col-lg-4.col-sm-6
            .fe-blog-holder
                .blog-date
                    span 19 July 2019
                .blog-title
                .blog-desc
                .blog-image
                .blog-link
        .col-lg-4.col-sm-6
            .fe-blog-holder
                .blog-date
                    span 19 July 2019
                .blog-title
                .blog-desc
                .blog-image
                .blog-link
