.fe-wrapper
    .fe-pull.val
        .fe-image-holder.fe-pull-right
            img(src = imgPath + 'image-section-4.jpg')
    .fe-pull.val
        .fe-text-holder.fe-pull-left
            .fe-image-text
                .image-title
                    span Sed posuere dolor non lacinia aliquam. 
                .image-desc
                    span Quisque dignissim lacus nisi, a sodales torto
            .fe-image-text.text-black-50
                .image-title
                    span Lacinia aliquam. 
                .image-desc
                    span Dignissim lacus nisi, a sodales torto 
            .fe-image-text.text-black-50
                .image-title
                    span Curabitur ut neque eu eros.
                .image-desc
                    span Dignissim lacus nisi, a sodales torto
