.heading-deco.text-center.text-light
    span Blog
.heading-title.text-center.text-light
    span Curabitur Nisl Lorem
.fe-wrapper.py-3.fe-venue
    .row
        .col-lg-4
            .fe-venue-holder
                .venue-title
                    span Date
                .venue-desc
                    span 23rd Jun - 1st July 2019
        .col-lg-4
            .fe-venue-holder
                .venue-title
                    span Venue
                .venue-desc
                    span Duis hendrerit urna dictum, Pallentesque habitant morbi tristique
            .col-lg-4
        .col-lg-4
            .fe-venue-holder
                .venue-title
                    span Time
                .venue-desc
                    span Mon - Fri: 
                    span  09.00am - 05.00pm
                .venue-desc
                    span Sat:
                    span  09.00am - 01.00pm
.fe-wrapper.text-center.py-4
    .row
        .col-lg-4.col-sm-6
            .fe-blog-holder
                .blog-date
                    span 19 July 2019
                .blog-text
                    .blog-title
                        span Quisque ligula rutrum vel
                    .blog-desc
                        span Quisque dignissim lacus nisi, a sodales tortor tincidunt et. In gravida condimentum odio
                a.blog-link(href='#')
                    span Read More
                    i.fa.fa-arrow-right
        .col-lg-4.col-sm-6
            .fe-blog-holder
                .blog-date
                    span 19 July 2019
                .blog-text
                    .blog-title
                        span Voluptatem dolar emque
                    .blog-desc
                        span aboriosam, nisi ut aliquid ex ea commodi consequatur?
                        br 
                        span esse quam nihil molestiae consequatur, vel illum qui dolorem eum fuqiat quo
                    a.blog-link(href='#')
                        span Read More
                        i.fa.fa-arrow-right
        .col-lg-4.col-sm-6
            .fe-blog-holder
                .blog-date
                    span 19 July 2019
                .blog-text
                    .blog-title
                        span Tutrum velumn
                    .blog-desc
                        span Quisque dignissim lacus nisi, a sodales tortor tincidunt et. In gravida condimentum odio
                    a.blog-link(href='#')
                        span Read More
                        i.fa.fa-arrow-right
