.heading-deco.text-center
    span About Us
.heading-title.text-center
    span Curabitur Nisl Lorem
.fe-about-tabs.tabs-wrapper.py-5
    ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item.active
            #tab1-tab.nav-link.active(data-toggle='tab', data-target='#tab1', data-indicator='#tab1-1', role='tab', aria-controls='tab1', aria-selected='true') Sollicitudin
                .fe-deco.fa.fa-plus
                .fe-deco
                .fe-deco.fa.fa-plus
                .fe-deco
        li.nav-item
            #tab2-tab.nav-link(data-toggle='tab', data-target='#tab2', data-indicator='#tab2-1', role='tab', aria-controls='tab2', aria-selected='false') Eu Viverra
                .fe-deco.fa.fa-plus
                .fe-deco.fa.fa-plus
                .fe-deco.fa.fa-plus
                .fe-deco.fa.fa-plus
        li.nav-item
            #tab3-tab.nav-link(data-toggle='tab', data-target='#tab3', data-indicator='#tab3-1', role='tab', aria-controls='tab3', aria-selected='false') Venetis Varius
                .fe-deco
                .fe-deco.fa.fa-plus
                .fe-deco
                .fe-deco.fa.fa-plus
    #myTabContent.tab-content.py-4
        #tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab1-tab')
            .fe-wrapper
                .tabs-desc.text-center.py-3
                    span Lorem Ipsum dolar sit amet, consectetur adipiscing elit. Praesent pretium, est eu venenatis varius, ligula elit efficitur lectus.
                .tabs-item.text-center.py-3
                    .row
                        .col-lg-6.my-3
                            .fe-circle
                                .about-holder.p-4
                                    .about-icon
                                        i.fa.fa-sliders.fa-4x
                                    .about-title.px-3
                                        span Quisque ligula rutrum vel
                                    .about-desc.p-3
                                        span Quisque dignissim lacus nisi, a sodales tortor tincidunt et. In gravida condimentum odio
                        .col-lg-6.my-3
                            .fe-circle
                                .about-holder.p-4
                                    .about-icon
                                        i.fa.fa-info-circle.fa-4x
                                    .about-title.px-3
                                        span Nullam tincidunt bibendum
                                    .about-desc.p-3
                                        span Duis imperdiet dui non porttitor congue dignissim lacus nisi.
                .tabs-desc.text-center.py-3
                    span Gravida condimentum odio, molestie posuere neque lacinia non. Phasellus efficitur dignissim orci, eget lacinia enim aliquam nec. Mauris fringilla cursus elementum. Integer pretium justo quis augue lobortis semper.
        #tab2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2-tab')
            .fe-wrapper
                .tabs-desc.text-center.py-3
                    span Lorem Ipsum dolar sit amet, consectetur adipiscing elit. Praesent pretium, est eu venenatis varius, ligula elit efficitur lectus.
                .tabs-item.text-center.py-3
                    .row
                        .col-lg-6.my-3
                            .fe-circle
                                .about-holder.p-4
                                    .about-icon
                                        i.fa.fa-sliders.fa-4x
                                    .about-title.px-3
                                        span Quisque ligula rutrum vel
                                    .about-desc.p-3
                                        span Quisque dignissim lacus nisi, a sodales tortor tincidunt et. In gravida condimentum odio
                        .col-lg-6.my-3
                            .fe-circle
                                .about-holder.p-4
                                    .about-icon
                                        i.fa.fa-info-circle.fa-4x
                                    .about-title.px-3
                                        span Nullam tincidunt bibendum
                                    .about-desc.p-3
                                        span Duis imperdiet dui non porttitor congue dignissim lacus nisi.
                .tabs-desc.text-center.py-3
                    span Gravida condimentum odio, molestie posuere neque lacinia non. Phasellus efficitur dignissim orci, eget lacinia enim aliquam nec. Mauris fringilla cursus elementum. Integer pretium justo quis augue lobortis semper.
        #tab3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3-tab')
            .fe-wrapper
                .tabs-desc.text-center.py-3
                    span Lorem Ipsum dolar sit amet, consectetur adipiscing elit. Praesent pretium, est eu venenatis varius, ligula elit efficitur lectus.
                .tabs-item.text-center.py-3
                    .row
                        .col-lg-6.my-3
                            .fe-circle
                                .about-holder.p-4
                                    .about-icon
                                        i.fa.fa-sliders.fa-4x
                                    .about-title.px-3
                                        span Quisque ligula rutrum vel
                                    .about-desc.p-3
                                        span Quisque dignissim lacus nisi, a sodales tortor tincidunt et. In gravida condimentum odio 
                        .col-lg-6.my-3
                            .fe-circle
                                .about-holder.p-4
                                    .about-icon
                                        i.fa.fa-info-circle.fa-4x
                                    .about-title.px-3
                                        span Nullam tincidunt bibendum
                                    .about-desc.p-3
                                        span Duis imperdiet dui non porttitor congue dignissim lacus nisi. 
                .tabs-desc.text-center.py-3
                    span Gravida condimentum odio, molestie posuere neque lacinia non. Phasellus efficitur dignissim orci, eget lacinia enim aliquam nec. Mauris fringilla cursus elementum. Integer pretium justo quis augue lobortis semper.
    ul#myTabIndicator.nav-tabs-indicator
        li.nav-item-indicator
            #tab1-1.nav-link-indicator.active
        li.nav-item-indicator
            #tab2-1.nav-link-indicator
        li.nav-item-indicator
            #tab3-1.nav-link-indicator
