section.fe-section-01
    .container-fluid
        .row
            include landing/_section-01
section#about-us.fe-section-02.bg-dark-yellow.py-5
    .container
        include landing/_section-02
section#blog.fe-section-03
    .bg-image.py-5(style='background-image:url(assets/images/bg-section-3.jpg)')
        .container
            include landing/_section-03
section.fe-section-04.bg-section-04.py-5
    .container
        include landing/_section-04
