section
    .container-fluid
        .row
            include landing/_section-01
section.bg-dark-yellow#about-us.py-5
    .container
        include landing/_section-02
section#blog
    .bg-image.py-5(style='background-image:url(assets/images/bg-section-3.jpg)')
        .container
            include landing/_section-03
